<div class="media-controls-container">
    <div class="media-controls-first-row">
        <i id="restart-playback" class="fa-solid fa-rotate-left fa-lg media-button" onclick="restartVideo()"></i>
        <i id="play-button" class="fa-solid fa-play fa-lg media-button" onclick="playVideo()"></i>
        <i id="pause-button" class="fa-solid fa-pause fa-lg media-button" onclick="pauseVideo()"></i>
    </div>
    <div class="media-controls-second-row">
        <i id="mute-button" class="fa-solid fa-volume-xmark fa-lg media-button" onclick="toggleMute()"></i>
        <input type="range" id="volumeSlider" min="0" max="100" value="50" class="volume-slider" style="color: whitesmoke;">
    </div>
</div>
