    <div class="container">
        <div class="plate rotation">
            <div class="black rotation">
                <div class="border">
                    <div class="white">
                        <div class="center"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="player">
            <div class="rect"></div>
            <div class="circ"></div>
        </div>
    </div>