<%- include('./partials/header.ejs') %>

<div class="main-container">
    <div class="landingPageCard animate__animated animate__flipInY">
        <div class="main-title">
            <h1>Welcome to Juke.ly!</h1>
        </div>
        <div class="juke-ly-features">
            <h2 style="text-align: center;">Video Party Playlist!</h2>
            <div class="featureItem">
                <div>
                    <i class="fa-solid fa-compact-disc fa-spin fa-spin-reverse fa-lg"></i>
                </div>
                <p>Quickly create group video playlists.</p>
            </div>
            <div class="featureItem">
                <div>
                    <i class="fa-solid fa-compact-disc fa-spin fa-spin-reverse fa-lg"></i>
                </div>
                <p>Parties, hangouts or karaoke. Collab and discover!</p>
            </div>
            <div class="featureItem">
                <div>
                    <i class="fa-solid fa-compact-disc fa-spin fa-spin-reverse fa-lg"></i>
                </div>
                <p>Jukely is yours. FREE, forever!</p>
            </div>
        </div>
        <div class="juke-ly-logo-container">
            <img class="juke-ly-logo" src="https://i.imgur.com/nejpbZS.png" alt="Juke-ly Logo">
        </div>
        <div class="get-started-button">
            <a class="getStarted" href="/songs"><button>Get Started!</button></a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>